openapi: 3.0.0
servers:
  - url: 'http://ema.xpansiv.com/v1'
info:
  description: >-
    This is EMA API documentation
  version: 1.0
  title: OpenAPI EMA
  license:
    name: Apache-2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: featureFlag
    description: feature flag
paths:
  /feature-flags:
    get:
      tags:
        - featureFlag
      summary: list all feature flags
      operationId: listFeatureFlags
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureFlag'
  '/feature-flags/{name}':
    get:
      tags:
       - featureFlag
      description: Returns a single feature flag
      operationId: getFeatureFlagByName
      responses:
       '200':
         description: successful operation
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/FeatureFlag'
      parameters:
       - name: name
         in: path
         required: true
         schema:
           type: string
externalDocs:
  description: Find out more about EMA
  url: 'https://xpansiv.com/'
components:
  requestBodies:
    FeatureFlag:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FeatureFlag'
      description: Change status of Feature Flag
      required: true
  schemas:
    FeatureFlag:
      title: a feature flag
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        status:
          type: string
          enum:
            - enabled
            - disabled


